library.bib
*~
*.pdf
*.dvi
*.acn
*.acr
*.alg
*.aux
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.png
*.xref
*.tmp
*.lg
*.idv
*.html
*.css
*.4ct
*.4tc
*.stackdump
*.bbl
*.thm
*#
*.bak
